logs
target-eclipse
/.idea
/.idea_modules
/.classpath
/.project
/project/project
/project/target
/.settings
/RUNNING_PID
/bin
/bin-eclipse
.cache-*
.DS_Store
.tmpBin
*.swp
target/universal/tmp/
/*-log-*
/target
/node_modules/
